---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import projectData from '../data/projects.json';
import headshot from '../images/headshot.png';
import flower from '../icons/flower.svg?raw';
---

<script>
  const navLinks = document.querySelector('#navLinks');
  const svg = document.querySelector('#flower');
  const animateSection = svg?.querySelectorAll('g');
  const rotationArray = [
    'email marketing',
    'journey mapping',
    'marketing strategy',
    'CRM management',
    'customer retention',
    'project management',
    'marketing automation',
    'campaign development',
    'multi-channel marketing',
    'web development',
  ];
  let currentIndex = 0;
  const rotationSpanEl = document.getElementById('rotationText');

  function rotateText() {
    rotationSpanEl.textContent = rotationArray[currentIndex] + '.';
    currentIndex = (currentIndex + 1) % rotationArray.length;
  }

  rotateText();
  rotationSpanEl?.addEventListener('animationiteration', rotateText);

  if (svg && animateSection) {
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            animateSection[0]?.classList.add('line-plant2-pot');
            animateSection[1]?.classList.add('line-plant2-plant');
            observer.unobserve(entry.target); // stop observing after animating
          }
        });
      },
      {
        threshold: 0.1, // trigger when 10% of the element is visible
      }
    );

    observer.observe(svg);
  }

  function handleNavBorder() {
    const scrollThreshold = 50;
    if (window.scrollY > scrollThreshold) {
      navLinks?.classList.remove('bottom-border');
      navLinks?.classList.add('remove-border');
    } else {
      navLinks?.classList.add('bottom-border');
      navLinks?.classList.remove('remove-border');
    }
  }

  document.addEventListener('scroll', handleNavBorder);
  window.addEventListener('resize', handleNavBorder);
  window.addEventListener('load', handleNavBorder);
</script>

<Layout title="Sarah dePalo | Marketer & Developer">
  <!-- This will be moved to the layout component once done -->
  <nav>
    <div class="nav__links" id="navLinks">
      <div>
        <img src="/logo.png" alt="Sarah dePalo" class="nav__logo" />
      </div>
      <div>
        <ul>
          <li><a href="#">Resume</a></li>
          <li><a href="https://www.linkedin.com/in/sarahdepalo/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="hero">
    <section class="hero__section">
      <div class="hero__grid">
        <div class="headshot">
          <img
            src={headshot}
            alt="Developer smiling against a pink background, eager for you to reach out on LinkedIn"
            class="headshot__img"
          />
        </div>
        <div class="hero__name">
          <h1>
            <span class="weight-500">Hi, I'm Sarah,</span>
            <br />
            Marketer & Developer
          </h1>
        </div>
        <div class="hero__description">
          <p>
            I’m passionate about the intersection of marketing and technology. I thrive on
            challenges that let me combine my technical background with creativity to build
            marketing solutions that deliver fun, impactful experiences for users.
          </p>
          <p>
            I enjoy leading martech architecture projects and getting into the nitty-gritty of data.
          </p>
          <p class="small">
            Outside of work, you'll find me cooking up Italian food, exploring local trails, or
            adding to my plant collection (because there's always room for one more 🌼).
          </p>
        </div>
      </div>
    </section>
  </div>

  <main>
    <section class="projects__wrapper">
      <div class="title__container">
        <Fragment set:html={flower} />
        <h3 id="projectsTitle">Recent Projects</h3>
        <p>A mix of projects that challenged me, sparked new ideas, and pushed me forward.</p>
      </div>
      <div class="projects">
        <div class="projects__flex">
          {
            projectData.map((project) => (
              <Project
                image={project.image}
                alt={project.alt}
                title={project.title}
                description={project.description}
                tags={project.tags}
                buttons={project.buttons}
              />
            ))
          }
        </div>
      </div>
    </section>
    <section class="contact-me__wrapper">
      <h3>Talk to me about <span id="rotationText"></span></h3>
      <div class="btn__container">
        <a href="https://www.linkedin.com/in/sarahdepalo/" target="_blank">Connect on LinkedIn</a>
        <a href="mailto:sarahdepalo99@gmail.com">Email Me</a>
      </div>
    </section>
  </main>

  <style>
    nav {
      margin: 0 auto;
      padding: 5px 0px 0px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      background: #324a34;
      background-image: url('/hero-bg.png');
      background-repeat: no-repeat;
      background-position: inherit;
    }

    nav p {
      font-weight: bold;
      font-size: 20px;
      margin: 0;
    }

    nav ul {
      margin: 0px 10px 0px;
      list-style-type: none;
      display: flex;
      gap: 60px;
    }

    nav a {
      text-decoration: none;
      color: #fff;
      position: relative;
    }

    nav a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background-color: #ffffff79;
      bottom: -5px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    nav a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    .nav__links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      margin: 0 auto;
      padding-bottom: 5px;
      position: relative;
    }

    .nav__links::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5px;
      background-color: #ffffff79;
      opacity: 1;
      transition: opacity 0.8s ease;
    }

    .nav__links.bottom-border::after {
      opacity: 1;
    }

    .nav__links.remove-border::after {
      opacity: 0;
    }

    .nav__logo {
      height: 60px;
      margin-left: 5px;
    }

    .projects__wrapper {
      background: #fff;
      background-image: url('/background-test-2.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      padding-top: 75px;
    }
    .projects {
      margin: auto;
      padding: 5rem 1.5rem;
      width: 1024px;
      max-width: 100%;
    }

    .title__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }

    .title__container p {
      text-align: center;
      margin-top: 0px;
    }

    .projects__flex {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 5rem;
    }

    .hero {
      background: #324a34;
      background-image: url('/hero-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: inherit;
      padding: 0;
      margin: 0;
    }

    .hero__section {
      padding-top: 100px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .hero__grid {
      display: grid;
      gap: 15px 15px;
      grid-template-columns: 3fr 4fr;
      margin: auto;
      padding: 0 1rem;
      max-width: 100%;
      width: 1024px;
      color: #fff;
    }

    .hero__name {
      align-self: center;
    }

    .hero__description {
      grid-column-start: span 2;
      padding: 0 1rem;
    }

    .headshot {
      position: relative;
      justify-self: stretch;
      align-self: center;
    }

    .headshot__img {
      display: block;
      width: 100%;
      max-width: 400px;
      position: relative;
    }

    .contact-me__wrapper {
      background: rgb(77, 99, 49);
      background: linear-gradient(333deg, rgba(77, 99, 49, 1) 37%, rgba(50, 74, 52, 1) 66%);
      overflow: hidden;
      height: 35vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .contact-me__wrapper h3 {
      color: #fff;
    }
    .btn__container {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      column-gap: 1rem;
      row-gap: 1rem;
      margin: 0px 15px;
    }

    .btn__container a {
      min-width: 180px;
      color: #fff;
      display: block;
      position: relative;
      padding: 10px;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 5px;
      font-weight: 500;
      letter-spacing: 1px;
      text-align: center;
      outline: 0;
      overflow: hidden;
      background: none;
      z-index: 1;
      transition: 0.08s ease-in;
      -o-transition: 0.08s ease-in;
      -ms-transition: 0.08s ease-in;
      -moz-transition: 0.08s ease-in;
      -webkit-transition: 0.08s ease-in;
    }

    .btn__container a:hover {
      background: #fff;
      color: #324a34;
    }

    .btn__container a:before {
      content: '';
      position: absolute;
      background: #fff;
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      z-index: -1;
      -webkit-transition: top 0.09s ease-in;
    }

    .btn__container a:hover:before {
      top: 0;
    }

    #rotationText {
      display: inline-block;
      animation: rotateAndFade 3s infinite;
      opacity: 0;
      transform: translateY(20px) rotateX(-90deg);
    }
    @keyframes rotateAndFade {
      0% {
        opacity: 0;
        transform: translateY(20px) rotateX(-90deg);
      }
      10% {
        opacity: 1;
        transform: translateY(0) rotateX(0deg);
      }
      90% {
        opacity: 1;
        transform: translateY(0) rotateX(0deg);
      }
      100% {
        opacity: 0;
        transform: translateY(-20px) rotateX(90deg);
      }
    }

    h1 {
      font-weight: 800;
      font-size: 24px;
      margin: 0;
      color: #fff;
      animation: fadein 2s forwards;
    }

    nav h2 {
      margin: 0px;
      font-size: 20px;
    }

    h3 ~ p {
      text-align: center;
      max-width: 100%;
    }

    .title__container h3 {
      text-align: center;
      display: block;
      margin-top: 10px;
    }

    .title__container h3::after {
      background: #0c823c;
      content: '';
      display: block;
      height: 2px;
      width: 3em;
      margin: 0.4em auto 0;
    }

    .weight-500 {
      font-weight: 500;
    }
    .description p {
      animation: fadein-delay 2.5s forwards;
    }

    .small {
      font-size: 0.87rem;
    }

    .gradient-circle {
      background: linear-gradient(-45deg, #bbcd27, #0c823c, #324a34);
      background-size: 400% 400%;
      display: none;
      -webkit-animation: fadeInScale 1s forwards, gradient 5s ease infinite;
      -moz-animation: fadeInScale 1s forwards, gradient 5s ease infinite;
      animation: fadeInScale 1s forwards, gradient 5s ease infinite;
      animation-delay: 1.2s;
      position: absolute;
      align-items: center;
      opacity: 0;
      transform: scale(0.2) translate(-50%, -50%);
      transform-origin: center;
      z-index: 1;
      border-radius: 100%;
      max-height: 100px;
      max-width: 100px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .gradient-circle img {
      width: 80%;
      height: 80%;
      margin: 0 auto;
    }

    .gradient-circle:nth-of-type(1) {
      top: 25%;
      left: 8%;
      height: 18%;
      width: 25%;
    }

    .gradient-circle:nth-of-type(2) {
      top: 50%;
      left: 90%;
      width: 18%;
      height: 13%;
      animation-delay: 1.5s;
    }

    .gradient-circle:nth-of-type(3) {
      top: 80%;
      left: 7%;
      width: 20%;
      height: 15%;
      animation-delay: 1.8s;
    }

    @keyframes fadein {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes fadein-delay {
      from {
        opacity: 0;
        transform: translateY(40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fadeInScale {
      0% {
        opacity: 0;
        transform: scale(0.2) translate(-50%, -50%);
      }
      100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
      }
    }

    @-webkit-keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @-moz-keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    @media (min-width: 680px) {
      .nav__links {
        width: 90%;
      }

      .hero__grid {
        gap: 24px 40px;
        max-width: 80vw;
        grid-template-columns: 3fr 5fr;
      }
      .hero__section {
        padding: 100px 1.5rem;
      }
      .headshot {
        grid-row-start: span 2;
        justify-self: center;
      }

      .hero__name {
        align-self: end;
      }

      .hero__description {
        grid-column-start: 2;
        grid-row-start: 2;
        padding: 0;
      }
      h1 {
        font-size: 2rem;
      }

      .gradient-circle {
        display: flex;
      }
      .btn__container {
        justify-content: center;
        flex-direction: row;
        margin: 0px;
      }
    }
    @media (min-width: 1024px) {
      .hero__grid {
        gap: 24px 60px;
        grid-template-columns: 3fr 5fr;
      }

      h1 {
        font-size: 2.5rem;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      .hero__description p,
      h1 {
        animation: none;
      }
      .gradient-circle {
        animation: none;
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
      }
    }
  </style>
</Layout>
