---
export interface Props {
  image: string;
  alt: string;
  title: string;
  description: string;
  tags: string[];
  buttons: { text: string; href: string }[];
}

const { image, alt, title, description, tags, buttons } = Astro.props;

const tagHash: { [key: string]: string } = {
  aws: '#f6ff48',
  flask: '#ffc348',
  python: '#48daff',
  javascript: '#99ff52',
  react: '#e879f9',
};

const skillTags = tags.map((tag: string) => ({
  color: tagHash[tag.toLowerCase()],
  name: tag,
}));
---

<div class="project__container">
  <div class="project__image">
    <img src={'/' + image} alt={alt} />
  </div>
  <div class="project__info">
    <div class="project__header">
      <h4>{title}</h4>
      <div>
        {
          skillTags.map((tag) => (
            <span style={`background-color: ${tag.color ? tag.color : '#ffe5e8'}`}>{tag.name}</span>
          ))
        }
      </div>
    </div>
    <p class="description">{description}</p>
    <div class="btn__container">
      {buttons.map((button) => <a href={button.href}>{button.text}</a>)}
    </div>
  </div>
</div>

<style>
  .project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(77, 99, 49);
    background: linear-gradient(333deg, rgba(77, 99, 49, 1) 37%, rgba(50, 74, 52, 1) 66%);
    color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 25px;
    row-gap: 1rem;
    column-gap: 2rem;
  }

  .project__image {
    width: 100%;
  }
  .project__info {
    width: 100%;
  }

  .project__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .project__header span {
    color: #1f1f1f;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    text-align: center;
    font-size: 0.75rem;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 400px;
  }

  .description {
    margin-left: auto;
    margin-right: auto;
  }

  h4 {
    font-size: 1.25rem;
    margin: 0px 20px 0px 0px;
    display: inline;
  }

  .btn__container {
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
  }

  a {
    color: #fff;
    display: block;
    position: relative;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }

  a:hover {
    background: #fff;
    color: #324a34;
  }

  a:before {
    content: '';
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  a:hover:before {
    top: 0;
  }

  @media (min-width: 850px) {
    .project__container {
      flex-direction: row;
      width: 1024px;
      max-width: 100%;
    }

    .project__header {
      flex-direction: row;
      text-align: left;
    }

    .project__image {
      width: 30%;
    }
    .project__info {
      width: 70%;
    }

    .btn__container {
      justify-content: flex-start;
    }

    .description {
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>
