---
export interface Props {
  image: string;
  alt: string;
  title: string;
  description: string;
  impactList: array;
  skills: string;
}

const { image, alt, title, description, impactList, skills } = Astro.props;
---

<div class="project__container">
  <div class="project__image">
    <img src={image} alt={alt} />
  </div>
  <div class="project__info">
    <div class="project__header">
      <h4>{title}</h4>
    </div>
    <p class="description">{description}</p>
    <p><strong>Impact:</strong></p>
    {
      impactList && (
        <ul>
          {impactList.map((impact) => (
            <li>{impact}</li>
          ))}
        </ul>
      )
    }
    <p><strong>Skills:</strong> {skills}</p>
  </div>
</div>

<style>
  .project__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: #fdf9f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
    border-radius: 8px;
    row-gap: 1rem;
    column-gap: 2rem;
  }

  .project__image {
    width: 100%;
  }
  .project__info {
    width: 100%;
    margin-top: 10px;
  }

  .project__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .project__header span {
    color: #1f1f1f;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    text-align: center;
    font-size: 0.75rem;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
  }
  li {
    font-size: 1.1rem;
  }

  .description {
    margin-left: auto;
    margin-right: auto;
  }

  h4 {
    font-size: 1.25rem;
    margin: 0px 20px 0px 0px;
    display: inline;
  }

  @media (min-width: 850px) {
    .project__container {
      flex-direction: row;
      /* width: 1024px; */
      max-width: 100%;
    }

    .project__header {
      flex-direction: row;
      text-align: left;
    }

    .project__image {
      width: 50%;
    }
    .project__info {
      width: 70%;
    }

    .description {
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>
